@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	color-scheme: dark light;
}
body {
	font-family: 'Sour Gummy', serif;

	--main-font-clr: #000;
	--header-bckgrnd-clr: hsl(0 29% 62%);
	--main-bkgrnd-clr: hsl(0 29% 92%);

	height: 100vh;
}

body * a {
	text-decoration: none;
	color: var(--main-font-clr);
}

body * a:hover,
body * a:active {
	color: #fff;
}

button {
	width: 100%;
	font-size: 1.2rem;
	margin-top: 1rem;
	padding: 0.2rem 0.5rem;
	background-color: var(--main-bkgrnd-clr);
	border-radius: 20px;
	border: 1px solid var(--header-bckgrnd-clr);
	box-shadow: 1px 1px 5px;
}

button:hover,
button:active {
	background-color: var(--header-bckgrnd-clr);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
	justify-items: center;
	margin-inline: auto;
	gap: 1rem;
	padding-top: 1rem;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-inline: auto;
}

img {
	display: block;
	max-width: 100%;
}

header {
	top: 0;
	z-index: 1;
	background-color: var(--header-bckgrnd-clr);
	padding: clamp(0px, 2rem, 3rem);
	padding: 10px;
	color: var(--main-font-clr);
}



main {
	background-color: var(--main-bkgrnd-clr);
	height: clamp(800px, 100vh, 900px);
	
}

.hero {
	
	height: fit-content;
	width: clamp(800px, 70%, 1000px);
	align-self: center;
	
}

.hero  * {
	padding: 0.8rem;
	align-self: center;
}

.hero-content {
	border-bottom: 0.3rem solid var(--header-bckgrnd-clr);

}

.profile {
	border-bottom: 0.3rem solid var(--header-bckgrnd-clr);
	background-color: var(--main-bkgrnd-clr);
}

.profile-img {
	border-radius: 50%;
	aspect-ratio: 1/1;
	float: left;
	shape-outside: circle(50%);
	margin-right: 0.8rem;
}

.img-wrapper {
	position: relative;
	background-color: var(--header-bckgrnd-clr);
	padding: 0;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.img-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-300px);
	min-height: 100%;
	min-width: 100%;
	background-color: var(--header-bckgrnd-clr);
}

.skills {
	min-width: 70%;
	/* height: 80%; */
}

.skills-list {
	list-style-type: none;
}

.skills-list li {
	padding-inline: 1ch;
}

.projects {
	width: 30%;
	position: relative;
	height: 100%;
	background-color: var(--header-bckgrnd-clr);
	overflow-y: scroll;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
	scroll-margin: 1rem;
}

.projects h2 {
	width: 100%;
	text-align: center;
	border-bottom: 0.3rem solid var(--header-bckgrnd-clr);
	margin-bottom: 1rem;
}

.card {
	scroll-snap-align: start;
	margin-inline: 0.5rem;
	padding-inline: 0.5rem;
	padding-bottom: 1.2rem;
	border: 2px solid var(--header-bckgrnd-clr);
	border-radius: 0.5rem;
	background-color: var(--main-bkgrnd-clr);
}

.card > * {
	scroll-snap-align: start;

	padding: 1rem;
}

.card-img{
	border-radius: 1rem;
}

.card-img-container {
	border: 3px solid var(--header-bckgrnd-clr);
	border-radius: 1rem;
	background-color: #fff;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 600;
}

.card-subtitle {
	font-size: 1.1rem;
	font-weight: 500;
}

footer.flex {
	background-color: var(--header-bckgrnd-clr);
	justify-content: space-between;
	padding-inline: 3rem;
	
}

footer > *{
	max-width: 50%;
	padding-top: 1rem;
	
}

@media (max-width: 1200px){
	main {
		height: fit-content;
	}

	.projects{
		width: 100%;
	}

	footer.flex{
		justify-content: center;
		
	}

	footer > *{
		padding-inline: 1rem;
		min-width: 80%;
	}


}

@media (prefers-color-scheme: dark){
	body {
	
		--main-font-clr: #000;
		--main-font-clr:  #fff;
		--header-bckgrnd-clr: #000;
		--main-bkgrnd-clr: hsl(0 29% 52%);
	
	}

	.card-img-container{
		background-color: var(--main-bkgrnd-clr);
	}

	
}

